APP_STATE = payrep_state
APP_MODE = local # production | sandbox | local
PROD_BASE_URL = 
SANDBOX_BASE_URL = https://dev.payrepmfb.com
LOCAL_BASE_URL = https://427d673daa0d.ngrok-free.app
QOREID_LOCAL_CLIENT_ID =  
QOREID_SANDBOX_CLIENT_ID = 
QOREID_PROD_CLIENT_ID = 